@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import "fonts";
@import "loading";
@import "modal";
@import "accordion";
@import "toast";

:root {
  --color: text-black;
  --background: rgba(28, 32, 36, 1);
}

body {
  color: var(--color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-family: CircularXXSub, system-ui, sans-serif;
  }

	:root {
		--color-border: var(--sand-4);
		--color-warning: var(--amber-a2);
		--color-warning-foreground: var(--amber-a11);
	}

	.dark {
		/**
		 * It's not a mistake, duplicating the same color values here.
		 * They are Radix UI colors palette, and they're switched based on the theme.
		 */
		--color-border: var(--sand-4);
		--color-warning: var(--amber-a2);
		--color-warning-foreground: var(--amber-a11);
	}
}
html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  color: var(--color);
}

html.tmpl-solswap,
.tmpl-solswap body {
  background: var(--purple-2);
}

html.tmpl-dogecoinswap,
.tmpl-dogecoinswap body {
  background: var(--gray-2);
}


h1 {
  font-size: 3rem; // 48px
  font-weight: 700;
  line-height: 48px;
}
