@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import "fonts";
@import "loading";

:root {
  --color: text-black;
  --background: bg-white;
}

body {
  color: var(--color);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-family: CircularXXSub, system-ui, sans-serif;
  }
}
html,
body {
  color: var(--color);
  background: var(--background);
}

h1 {
  font-size: 2.1875rem; // 35px
}
